/*
* Custom Buttons
*/

a.btn-custom {
	padding: 10px 30px;
	border: solid $gray 1px;
	border-radius: 0px 15px;
	font-size: .9em;
	color: $gray;
	text-decoration: none;
	transition: all .2s ease-in-out;
	&:hover {
		background-color: $light-gray ;
	}
}

.submit-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 0;
}

.submit-btn {
	padding: 10px 30px;
	border-radius: 0px 15px;
	background-color: $pink;
	color: #fff;
	margin: 10px 0;
}