
.orange-bg {
	background-color: $orange;
	padding: 6em 0;
	color: #fff;
}

.front-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	h2, h4 {
		color: #fff;
	}
	h2 {
		font-family: secondary-font;
	}
}

.intro-boxes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3em 0;
}

.intro-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	text-align: center;
	border-right: dashed 1px #fff;
	&:last-child {
		border: none;
	}
	img {
		height: 90px;
		margin-bottom: 15px; 
	}
	h4 {
		background-color: $green;
		font-size: .9em;
		padding: 8px 10px 5px;
		z-index: 2;
		position: relative;
		margin-bottom: 1em;
		width: 90%;
		&:before {
			content: "";
			display: block;
			position: absolute;
			border-radius: 4px;
			z-index: -1;
			background-color: $green;
			width: 24px;
			height: 24px;
			top: 4px;
			left: -12px;
			transform: rotate(45deg);
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			border-radius: 4px;
			z-index: -1;
			background-color: $green;
			width: 24px;
			height: 24px;
			top: 4px;
			right: -12px;
			transform: rotate(45deg);
		}
	}
	p {
		width: 85%;
		font-size: .9em;
	}
}

.destacado {
	background-color:  $green;
}

.destacado-content {
	padding: 2em 3em;
	text-align: center;
	p {
		font-size: 1.2em;
		&:last-child {
			margin-bottom: 0;
		}
		b {
			font-family: primary-font-bold;
		}
	}
}

.reviews {
	padding: 4em 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.review {
	margin-bottom:2em;
}

.review-comment {
	background-color: $purple;
	border-radius: 15px;
	padding: 2em;
	text-align: center;
	z-index: 2;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	&:after {
		content: "";
		display: block;
		position: absolute;
		border-radius: 4px;
		z-index: -1;
		background-color: $purple;
		width: 90px;
		height: 100px;
		bottom: -70px;
		right: 60px;
		border-radius: 15px;
		clip-path: polygon(63% 92%, 0 0, 100% 0, 100% 100%, 80% 100%, 74% 99%, 69% 98%, 65% 95%);
	}
	span {
		font-family: secondary-font;
		font-size: 1.3em;
	}
}

.quote-open {
	align-self: flex-start;
}

.quote-close {
	align-self: flex-end;
}

.review-text {
	padding: 0 1.5em;
}

.review-author {
	text-align: right;
	padding-top: 1em;
	padding-right: 150px;
	font-size: .8em;
	span {
		font-family: primary-font-bold;
	}
}
