/* Movil */

@media (min-width: 2000px) {
	header {
		height: 1050px;
		margin-bottom: 50px;
	}
}

@media (max-width: 1600px) {
	header {
		height: 650px;
		margin-bottom: 0px;
	}
}

@media (max-width: 1300px) {
	header {
		height: 550px;
		margin-bottom: 0px;
	}
}

@media (max-width: 1100px) {
	header {
		height: 450px;
		margin-bottom: 0px;
	}
}

@media (max-width: 900px) {
	header {
		height: 350px;
		margin-bottom: 0px;
	}
}

@media (max-width: 700px) {
	header {
		height: 250px;
		margin-bottom: 50px;
	}
}

@media (max-width: 600px) {
	header {
		height: 250px;
		margin-bottom: 50px;
	}
	
	.blog-logo {
		margin-right: 0;
		width: 30%;
		background-color: pink;
		opacity: .5;
	}
	
	.blog-info {
		font-size: .7em;
	}
	
	.head-social img {
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 450px) {
	header {
		height: 650px;
		margin-bottom: 50px;
	}
	
	.blog-header {
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border-bottom: solid #ccc 1px;
		box-shadow: 0 3px 5px #ccc;
	}

	.blog-nav-content{
		display: flex;
		flex-direction: row;
	}

	.blog-navbar {
		margin: 0;
		position: absolute;
		top:30px;
	}

	.navbar-nav {
		margin-top: 15px;
	}

	.menu-item{
		text-align: left;
		padding:3px 0;
	}

	.blog-info {
		display: none;
	}

	.blog-logo{
		margin-left: 100px;
		z-index: 2;
		img {
			width: 200px;
		}
	}

	.blog-post {
		padding: 0;
		margin: 0px;
		width: 100%;
		h2 {
			font-size: 24px;
		}
	}

	.blog-footer {
		flex-direction: column;
		a {
			padding: 10px 0;
		}
	}
}
