/* Nav */
.blog-navbar {
	height: 70px;
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: third-font-bold;
	font-size: 1.1em;
	background-color: $green;
}

.menu-item {
	height: 100%;
	text-align: center;
	padding: 0 .8rem;
	a {
		color: #fff;
		text-decoration: none;
	}
}

.dropdown-menu {
	background-color: $green;
	margin: 0;
	border-top: 0;
	border-radius: 0px 0px 0.25rem 0.25rem;
	border-color: $dark-green;
	&:hover {
		background-color: $dark-green;
	}
}

.active {
	background-color: pink;
}

.nav-link {
	position: relative;
	font-weight: 500;
	color: #cdddeb;
}

.nav-link:hover,
.nav-link:focus {
	color: #fff;
	background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
	color: #fff;
}
.nav-link.active::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -.3rem;
	vertical-align: middle;
	content: "";
	border-right: .3rem solid transparent;
	border-bottom: .3rem solid;
	border-left: .3rem solid transparent;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
