/* Nav */
.blog-navbar {
	height: 70px;
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: third-font;
	font-size: 1.1em;
	position: relative;
	z-index: 5;
}

.menu-item {
	height: 100%;
	text-align: center;
	padding: 0 .8rem;
	a {
		color: #fff;
		text-decoration: none;
	}
}

.dropdown-menu {
	background-color: $green;
	margin: 0;
	border-top: 0;
	border-radius: 0px 0px 0.25rem 0.25rem;
	border-color: $dark-green;
	&:hover {
		background-color: $dark-green;
	}
}

.active {
	font-family: third-font-bold;
}

.nav-link {
	position: relative;
	font-weight: 500;
	color: #cdddeb;
}

.nav-link:hover,
.nav-link:focus {
	color: #fff;
	background-color: transparent;
}

.dropdown-toggle::after {
	border: double #fff;
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
}

.dropdown:hover .dropdown-menu {
	display: block;
}
