/* Nav */
.blog-navbar {
	height: 70px;
	width: 100%;
	background-color: $green;
	z-index: 1;
	padding-left: 60px;
}

.menu-item {
	text-align: center;
	padding: 0 1rem;
	a {
		
		color: #fff;
	}
}

.active {
	background-color: pink;
}

.nav-link {
	position: relative;
	font-weight: 500;
	color: #cdddeb;
}

.nav-link:hover,
.nav-link:focus {
	color: #fff;
	background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
	color: #fff;
}
.nav-link.active::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -.3rem;
	vertical-align: middle;
	content: "";
	border-right: .3rem solid transparent;
	border-bottom: .3rem solid;
	border-left: .3rem solid transparent;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
