/*
* Page posts
*/

.page-main {
	margin-top: 3rem;
	h1,h2,h3,h4,h5 {
		font-family: secondary-font;
	}
	h1,h3,h4,h6 {
		color: $orange;
	}
	h2 {
		color: $green;
		font-family: secondary-font;
	}
	h5, a {
		color: $green;
		font-family: secondary-font;
	}
}

.page-post {
	margin-bottom: 4rem;
}
.page-post-title {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	text-align: center;
}

/*
* Page Post images
*/

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

table {
	tr {
		display: block;
		padding-top: 4em;
		&:first-child {
			padding-top: 0;
		}
	}
	td {
		border-right: dashed 1px $orange;
		padding: 1.5em;
		&:last-child {
			border-right: none;
		}
		p {
			font-size: .8em;
		}
	}
}

.wp-caption-text {
	font-size: .7em;
}

blockquote {
	background: #f9f9f9;
	margin: 1.5em 10px;
	padding: 0.7em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	&:before {
		color: $green;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
		font-family: secondary-font-bold;
	}
	&:after {
		color: $green;
		content: close-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-left: 0.25em;
		vertical-align: -0.6em;
		font-family: secondary-font-bold;
	}
	p {
		display: inline;
	}
}


